<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
  
  
	<Product Id="333035dc-6a48-49fe-9c75-ba4e8c660e0b" Name="Citrix SelfServiceDesktops WebApp" Language="1033" Version="1.0.0.0" Manufacturer="Citrix Systems" UpgradeCode="d449f1e9-35aa-4c1e-a134-9ca34dfbf123">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
    <!-- Icon and link for programs & features list" -->
    <Icon Id="XenDesktop_Combo_All.ico" SourceFile="000_XenDesktop_Combo_All.ico"/>
    <Property Id="ARPPRODUCTICON" Value="XenDesktop_Combo_All.ico"/>
    <Property Id="ARPHELPLINK" Value="http://community.citrix.com/selfservicedesktops" />
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>
    
    <!-- All installation pre-conditions -->
    <?include Conditions.wxi ?>

		<Feature Id="ProductFeature" Title="Citrix SelfServiceDesktops WebApp" Level="1">
			<ComponentGroupRef Id="Citrix.SelfServiceDesktops.WebApp_Project" />
      <ComponentRef Id='SSDWebVDir' />
		</Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="inetpub" Name="inetpub">
        <Directory Id="wwwroot" Name="wwwroot" ComponentGuidGenerationSeed="9da18920-ada3-11e2-9e96-0800200c9a66">
          <Directory Id="INSTALLFOLDER1" Name="Citrix">
            <Directory Id="INSTALLFOLDER" Name="SelfServiceDesktops">
              
              <Component Id="SSDWebVDir" Guid="3176007c-8b36-4351-81c4-ad006508a4c9">

                <iis:WebAppPool Id="AppPool" Name="[APPPOOLNAME]" ManagedRuntimeVersion="v4.0"
                               IdleTimeout="0" RecycleMinutes="0" ManagedPipelineMode="integrated">
                </iis:WebAppPool>       

                <iis:WebVirtualDir Id="VirtualDir" Alias="[WEBAPPNAME]" Directory="INSTALLFOLDER" WebSite="SelectedWebSite">             
                  <iis:WebApplication Id="SSDWebApp" WebAppPool="AppPool" Name="[WEBAPPNAME]" />              
                  <iis:WebDirProperties Id="SSDWebVDir_Properties" AnonymousAccess="yes" WindowsAuthentication="no" />               
                </iis:WebVirtualDir>
                
                <CreateFolder/>
              </Component>  
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    
    <Property Id='WEBSITENAME' Value='Default Web Site'/>
    <Property Id="WEBAPPNAME" Value="Citrix/SelfServiceDesktops"/>
    <Property Id='APPPOOLNAME' Value='SelfServiceDesktops_Pool'/>
    
    <!-- Note this does not create a web site, just looks it up -->
    <iis:WebSite Id='SelectedWebSite' Description='[WEBSITENAME]' Directory='INSTALLFOLDER'>
      <!-- This element has to be here or WiX does not compile. -->
      <iis:WebAddress Id="AllUnassigned" Port="80"/>
    </iis:WebSite>
    
    <WixVariable Id="WixUILicenseRtf" Value="eula.rtf"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
    <UIRef Id="WixUI_Custom"/>
  </Product>
</Wix>