*.obj
*.exe
*.pdb
*.suo
*.pdf
*.old
Citrix.*/obj/*
Citrix.*/bin/*
packages
Citrix.*/*.user
Citrix.SelfServiceDesktops.WebApp/Properties/PublishProfiles/*
Citrix.SelfServiceDesktops.WebApp.Setup/Citrix.SelfServiceDesktops.WebApp.wxs
Citrix.SelfServiceDesktops.Agent.Setup/Citrix.SelfServiceDesktops.Agent.wxs
