<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp51E22D7B4AC3DD5608B51E5F80B55892" Guid="{E0F49B5F-6BAC-496F-8CB3-289484BB1533}">
                <File Id="filD93585CD79EE57E993AE6669EEC97F8F" KeyPath="yes" Source="$(var.BasePath)\Citrix.Diagnostics.dll" />
            </Component>
            <Component Id="cmpA3E83FC7B1928B2B7DD189279563D7AE" Guid="{942CDBBD-2CEB-4481-AB88-F3EE59EBC233}">
                <File Id="filAEED87DDC2004DFA06A90AD8E04684C1" KeyPath="yes" Source="$(var.BasePath)\Citrix.Diagnostics.pdb" />
            </Component>
            <Component Id="cmpE6BDF92A2E37C07DB4B7C12464BC9E63" Guid="{A128EC00-E4EA-46E4-B534-133A9388636D}">
                <File Id="fil9DBE8C628FC4ABE47A6BF96CA8D27B87" KeyPath="yes" Source="$(var.BasePath)\Citrix.SelfServiceDesktops.Agent.exe" />
            </Component>
            <Component Id="cmpD60E38D9612B234E59B8A9755C0FD82E" Guid="{DB9EC671-8AE0-4559-B43A-02C256D30478}">
                <File Id="fil3AB3A5E39D5075813A724E9C4B65CA8B" KeyPath="yes" Source="$(var.BasePath)\Citrix.SelfServiceDesktops.Agent.exe.config" />
            </Component>
            <Component Id="cmp7D9CFB56A6BCEBC0114A10E06F608707" Guid="{175C9BC2-21DC-4FFC-9765-894ABE05A594}">
                <File Id="fil28E886B265E4030F2858D61510C30669" KeyPath="yes" Source="$(var.BasePath)\Citrix.SelfServiceDesktops.Agent.pdb" />
            </Component>
            <Component Id="cmp8CF66DFE5233A14D8EE7FCF436FF79DC" Guid="{A44A2DD7-6C46-4AB1-9191-1EE073244C90}">
                <File Id="fil6FA828CCABA21377F536F2F40D836836" KeyPath="yes" Source="$(var.BasePath)\Citrix.SelfServiceDesktops.DesktopLibrary.dll" />
            </Component>
            <Component Id="cmp5D63A33D4EE1522EE52D1369EA018A37" Guid="{085D4BE5-23FF-4B98-AF91-42E0F5A5DDA3}">
                <File Id="filF761778AA12C0F6BCA041F1BA1F38040" KeyPath="yes" Source="$(var.BasePath)\Citrix.SelfServiceDesktops.DesktopLibrary.pdb" />
            </Component>
            <Component Id="cmpDF54286DAFD31FC3A952CD8C8B4B2D0C" Guid="{D988565F-EDFF-47A9-B5F4-9A2FFB7497B2}">
                <File Id="fil16178CF9FF02033F6B167229EB0FF2CF" KeyPath="yes" Source="$(var.BasePath)\Citrix.SelfServiceDesktops.DesktopModel.dll" />
            </Component>
            <Component Id="cmpE35E740511C712843DC02F74EFA78718" Guid="{0B8E356C-BF8A-4A2D-9BBA-6F1CB3A62EAC}">
                <File Id="fil8DA1B0260C4D0A073D4E9C1A54B28176" KeyPath="yes" Source="$(var.BasePath)\Citrix.SelfServiceDesktops.DesktopModel.pdb" />
            </Component>
            <Component Id="cmp71B80E561BEE5ED05216128A4F245FFB" Guid="{0B0D360D-DD18-4082-938D-561F0BE1E209}">
                <File Id="filC37ECAEE473FFD5399289A42DD4C527E" KeyPath="yes" Source="$(var.BasePath)\CloudStack.SDK.dll" />
            </Component>
            <Component Id="cmp89F7D99ED10C64E9DE4CBD6015788B55" Guid="{BE35EF87-529B-4BB1-A7F5-EBF7228620E7}">
                <File Id="fil5DFE29FD77742AB0EE9AA1CE946A1939" KeyPath="yes" Source="$(var.BasePath)\SyncDesktops.ps1" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Citrix.SelfServiceDesktops.Agent_Project">
            <ComponentRef Id="cmp51E22D7B4AC3DD5608B51E5F80B55892" />
            <ComponentRef Id="cmpA3E83FC7B1928B2B7DD189279563D7AE" />
            <ComponentRef Id="cmpE6BDF92A2E37C07DB4B7C12464BC9E63" />
            <ComponentRef Id="cmpD60E38D9612B234E59B8A9755C0FD82E" />
            <ComponentRef Id="cmp7D9CFB56A6BCEBC0114A10E06F608707" />
            <ComponentRef Id="cmp8CF66DFE5233A14D8EE7FCF436FF79DC" />
            <ComponentRef Id="cmp5D63A33D4EE1522EE52D1369EA018A37" />
            <ComponentRef Id="cmpDF54286DAFD31FC3A952CD8C8B4B2D0C" />
            <ComponentRef Id="cmpE35E740511C712843DC02F74EFA78718" />
            <ComponentRef Id="cmp71B80E561BEE5ED05216128A4F245FFB" />
            <ComponentRef Id="cmp89F7D99ED10C64E9DE4CBD6015788B55" />
        </ComponentGroup>
    </Fragment>
</Wix>