@*
 * Copyright (c) 2013 Citrix Systems, Inc. All Rights Reserved.
*@
@{
    ViewBag.Title = "Administer Citrix Self Service Desktops";
}
<h2>Administer Citrix Self Service Desktops</h2>

<p>This web site allows you to manage the configuration of Citrix Self Service Desktops</p>
<p>Tasks:</p>
<ul>
  <li>@Html.ActionLink("Manage Self Service Desktops Configuration", "EditDesktopServiceConfiguration", "Home")</li>
  <li>@Html.ActionLink("Manage Desktop Offerings", "ViewDesktopOfferings", "Home")</li>
</ul>

                    