@*
 * Copyright (c) 2013 Citrix Systems, Inc. All Rights Reserved.
*@
@{
    ViewBag.Title = "Administer Desktops";
}
<h2>Desktop Offerings Administration</h2>

<p>This tool allows you to view and edit Desktop Offerings</p>