@*
 * Copyright (c) 2013 Citrix Systems, Inc. All Rights Reserved.
*@
@model IEnumerable<Citrix.SelfServiceDesktops.DesktopModel.IDesktopOffering>
@{
    ViewBag.Title = "View";
}

<h2>View Desktop Offerings</h2>
@using (Html.BeginForm())
{
 <fieldset>
  <legend>Desktop Offerings</legend>
  <div class="table_style">
    <table>
    @foreach (var item in Model)
    {
      <tr>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>
        <td class="info">@Html.DisplayFor(modelItem => item.Description)</td>
      </tr>
    }
    </table>
  </div>
</fieldset>
}