<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp2A2B27F5AD386D451F6AD02173DDB353" Guid="{61E9D236-5271-4A18-B95A-CE8D41AC0C3B}">
                <File Id="fil510301A614A8F3D47B8A045FFEEF1D35" KeyPath="yes" Source="$(var.BasePath)\favicon.ico" />
            </Component>
            <Component Id="cmp6A4F9D28DF6F992FCE04768A605F3F6B" Guid="{CC30EACE-93F6-45F3-8725-D438F048BF62}">
                <File Id="fil290EB696DE8E76F029E58930686F7404" KeyPath="yes" Source="$(var.BasePath)\Global.asax" />
            </Component>
            <Component Id="cmp3DE0E27CB4AD0EAD15733F20AB0760EF" Guid="{A1E7E169-FEE4-4A4E-96C0-26DCFF34247D}">
                <File Id="filF804CBAD53A94E1BE2AB44FD5DF0AB63" KeyPath="yes" Source="$(var.BasePath)\packages.config" />
            </Component>
            <Component Id="cmpCDB7F4EFDEF1E65C3B12BEBAD7E4D7EA" Guid="{48758133-6F12-4494-A0FC-8A918C3DE263}">
                <File Id="fil8994620207C22CA15AF75ACDD6420C79" KeyPath="yes" Source="$(var.BasePath)\Web.config" />
            </Component>
            <Directory Id="dir7307A6085BD4ABD9B8955C093FD541F5" Name="bin">
                <Component Id="cmp25D2BB97913BC97427F29C9D54112EB3" Guid="{5A47B2B5-E2B9-4C91-8290-7C92D25FD430}">
                    <File Id="fil5A1D5AB7943B12753107AE4EDEB316CB" KeyPath="yes" Source="$(var.BasePath)\bin\Antlr3.Runtime.dll" />
                </Component>
                <Component Id="cmp78EA4DDA800A56E5F426A77D9907BFAD" Guid="{6632BC36-9269-4132-B027-D732D6316DB8}">
                    <File Id="filEEB0C84E55E3DF3EDB35E718539F233E" KeyPath="yes" Source="$(var.BasePath)\bin\Citrix.Diagnostics.dll" />
                </Component>
                <Component Id="cmp9DD49F543BC594C079F50328E7814722" Guid="{43D5F157-D948-454A-92EE-E2B7D3A9A000}">
                    <File Id="filBB9CD8C72868BD3D7B8C885246E910B3" KeyPath="yes" Source="$(var.BasePath)\bin\Citrix.Diagnostics.pdb" />
                </Component>
                <Component Id="cmp8E117A0378750F9C53BDC27C57815638" Guid="{539BBC2C-95A3-43A7-9A7C-EB57DD2ABCC2}">
                    <File Id="fil9EC288089802F011292737B2D07A0D28" KeyPath="yes" Source="$(var.BasePath)\bin\Citrix.SelfServiceDesktops.Admin.dll" />
                </Component>
                <Component Id="cmpF7BCACEE096559E8F5360E7D34A134ED" Guid="{948F6827-5144-456B-A5CB-971B4F8223CF}">
                    <File Id="fil2986ED078F51F2CE0DB26BEE8F5B2D55" KeyPath="yes" Source="$(var.BasePath)\bin\Citrix.SelfServiceDesktops.Admin.pdb" />
                </Component>
                <Component Id="cmp580D0BB2F33C35FED291D2003033FB96" Guid="{3621413C-B4EE-4696-8296-3AFE7C183F45}">
                    <File Id="fil053BE811ECD0B6BE6FE9E7BF39DDD612" KeyPath="yes" Source="$(var.BasePath)\bin\Citrix.SelfServiceDesktops.Admin.WebApp.dll" />
                </Component>
                <Component Id="cmp1F6502879D3336438BA3B674023233E4" Guid="{C464997A-2B46-4C5B-986E-F3728C9D12C5}">
                    <File Id="filAB7B1151A1C8831EA34BCD43F9C7E482" KeyPath="yes" Source="$(var.BasePath)\bin\Citrix.SelfServiceDesktops.Admin.WebApp.pdb" />
                </Component>
                <Component Id="cmpE54B014890D2FA4CC95EEFF47B75AC99" Guid="{81CB5557-8E7E-47FA-B98F-C334E7F01D1F}">
                    <File Id="filEAA9C97A167EA6F3DF750A6CBDF31761" KeyPath="yes" Source="$(var.BasePath)\bin\Citrix.SelfServiceDesktops.DesktopLibrary.dll" />
                </Component>
                <Component Id="cmp24F89BA3EBF5567C3E6CA10AB2A7EAB3" Guid="{2218CB9D-AA77-4E78-A5BD-1CBCBB301996}">
                    <File Id="filF31EC334F50BF22E9D44EDF488791A3B" KeyPath="yes" Source="$(var.BasePath)\bin\Citrix.SelfServiceDesktops.DesktopLibrary.pdb" />
                </Component>
                <Component Id="cmp6A72D18291C24168AFD8D4589DF67B9B" Guid="{C053AA36-781C-47DE-9177-205971B93FF8}">
                    <File Id="fil47A2C39F95F02BBA8F18A2595DA4D224" KeyPath="yes" Source="$(var.BasePath)\bin\Citrix.SelfServiceDesktops.DesktopModel.dll" />
                </Component>
                <Component Id="cmpE595FD0109F9456D059F4A3F14F7CF8A" Guid="{F4F0F3E3-BAD1-416B-804A-995F43ADB5D5}">
                    <File Id="fil8BFFF41869FC873747E374331748A725" KeyPath="yes" Source="$(var.BasePath)\bin\Citrix.SelfServiceDesktops.DesktopModel.pdb" />
                </Component>
                <Component Id="cmp0928096FCD5256967D6C19713B305C8C" Guid="{BEC67A5D-705E-4127-AADB-04011C6A010C}">
                    <File Id="fil765D093B91F80BEA334803BF509C92F4" KeyPath="yes" Source="$(var.BasePath)\bin\CloudStack.SDK.dll" />
                </Component>
                <Component Id="cmp4795109627B83AD0BD4AE603B111DBF1" Guid="{9050E798-8FC7-4DA3-A004-F8A8ECA53019}">
                    <File Id="filEE905A33DF4BB70A125796A18623634B" KeyPath="yes" Source="$(var.BasePath)\bin\EntityFramework.dll" />
                </Component>
                <Component Id="cmpDE273EC5A6ABB02DB8578BC4F2ABEBD3" Guid="{A1F671B2-CCB1-4397-9883-0B55CA5FD112}">
                    <File Id="filBB5247D187E46075D53C64E74FCADCD1" KeyPath="yes" Source="$(var.BasePath)\bin\Microsoft.Web.Infrastructure.dll" />
                </Component>
                <Component Id="cmpBE9BB87ABB7F80C07AB897C66C4BFF19" Guid="{905C4DC6-C57A-4B1B-804E-499C78CBFB8B}">
                    <File Id="fil7AB5AC371ADF176E37A0069DBDC4AC3A" KeyPath="yes" Source="$(var.BasePath)\bin\Newtonsoft.Json.dll" />
                </Component>
                <Component Id="cmp32CCDC9B03F8214C5DDDD9717C0B0DCD" Guid="{6275A4F5-DF72-478F-A9E8-D84E12B44D04}">
                    <File Id="filE0FB58A4175F7308CE35641BA9BE27A2" KeyPath="yes" Source="$(var.BasePath)\bin\System.Net.Http.Formatting.dll" />
                </Component>
                <Component Id="cmp8E755731D2F4513E05B1835C366B4FD0" Guid="{2F708336-F0A0-4E02-A5B0-EF17214540DB}">
                    <File Id="fil7C7BB6B431E1D762DC3FE4BA24D05BBF" KeyPath="yes" Source="$(var.BasePath)\bin\System.Web.Helpers.dll" />
                </Component>
                <Component Id="cmpA4AC38BCA223E6D040AD4A04A51212F6" Guid="{D83B0C7D-49FB-4A55-81E3-3CC002FD4549}">
                    <File Id="fil1BD09656A2C8B2EBF00273581FBA8B7C" KeyPath="yes" Source="$(var.BasePath)\bin\System.Web.Http.dll" />
                </Component>
                <Component Id="cmpE60845712FBC0938EC9D42DA0FBDFF44" Guid="{0E09BF83-BEDC-4232-B567-579E7A7FA417}">
                    <File Id="fil48FFACF5B48D90E04AB03B84E2880B26" KeyPath="yes" Source="$(var.BasePath)\bin\System.Web.Http.WebHost.dll" />
                </Component>
                <Component Id="cmp7C5E0173F73C80F69AE5B339905F1CB7" Guid="{CD2C423C-6023-411A-9D47-488A3ED4BB73}">
                    <File Id="filEE8B6B3735E821FBE2F7A3349831EBF3" KeyPath="yes" Source="$(var.BasePath)\bin\System.Web.Mvc.dll" />
                </Component>
                <Component Id="cmp735C96C48954EB2CBF113474F0BC85D4" Guid="{C4D5F13E-A02D-430C-B729-625EE6E7B99E}">
                    <File Id="fil17043427144969E11DA28D7B3C954C17" KeyPath="yes" Source="$(var.BasePath)\bin\System.Web.Optimization.dll" />
                </Component>
                <Component Id="cmpA7F0F3CA5AC10E3C0A3496788771A1DF" Guid="{C1CA5C93-AE80-417E-9273-BEBA46B25DE8}">
                    <File Id="fil52BF9F6A41E8803312585C2D9CE0FC39" KeyPath="yes" Source="$(var.BasePath)\bin\System.Web.Razor.dll" />
                </Component>
                <Component Id="cmpEA09AAD207FE05D3450FEEF959A34EEA" Guid="{135F6EA9-45CF-4A63-BE1F-AB4394D06F2E}">
                    <File Id="filD18DFFC3C748F3F4A6A0CB010DEBB16F" KeyPath="yes" Source="$(var.BasePath)\bin\System.Web.WebPages.Deployment.dll" />
                </Component>
                <Component Id="cmp1A8CCD05EF52550EAC9D5912926FD160" Guid="{94742552-BC35-4D88-98CA-3658304BD3AA}">
                    <File Id="filF229DC13D43D4133C6A2608EF770EA68" KeyPath="yes" Source="$(var.BasePath)\bin\System.Web.WebPages.dll" />
                </Component>
                <Component Id="cmp73B1845052612B620A724C3DC5A71527" Guid="{994B7ABF-6E64-48D0-81FF-73D2FD09926D}">
                    <File Id="fil8B8AC6A01AA07762601AE1B2CC62E044" KeyPath="yes" Source="$(var.BasePath)\bin\System.Web.WebPages.Razor.dll" />
                </Component>
                <Component Id="cmp2E762DAB6A0D1BBC2945B465F3EA2894" Guid="{1F4BAFB8-A9A5-424F-96FD-288776B3C7B3}">
                    <File Id="fil9705831D6FA1AA7D7E104FDDB7779878" KeyPath="yes" Source="$(var.BasePath)\bin\WebGrease.dll" />
                </Component>
            </Directory>
            <Directory Id="dir530CC0BB7768701C9C7496ACE976A217" Name="Content">
                <Component Id="cmp7004A2DA3185B23160B6485ABF90905B" Guid="{1CF7443D-984E-4064-995B-C5D464183314}">
                    <File Id="filF3EE11220B3A997538A6ABBE3041A54C" KeyPath="yes" Source="$(var.BasePath)\Content\Site.css" />
                </Component>
                <Directory Id="dir9BAF78203B38579D00D575979F7B8750" Name="themes">
                    <Directory Id="dir710E839FD48A79924EE0E67F8AF701D7" Name="base">
                        <Component Id="cmp8A07513284B95B4DBE45D79B8EE2B8AC" Guid="{61872ECF-558F-4443-B18D-CE1EEB87B4E6}">
                            <File Id="filEAFB26FE0EE9F0CDBFC3ED5DEC4FE341" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\jquery-ui.css" />
                        </Component>
                        <Component Id="cmpD7B16FA37BD6C1853D39C718E5B804AE" Guid="{CCC1C211-1561-46C8-B9BB-C21F94421B0F}">
                            <File Id="filF5FBE2205CA5E667816B19814B4450E3" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\jquery.ui.accordion.css" />
                        </Component>
                        <Component Id="cmpBA2BEE95E297EF63802D4AD4619B71EE" Guid="{C56A9AA4-4A35-4859-B17E-E800EDDB00D6}">
                            <File Id="filFD7F9CF4ADA531519A85C4E492EC02B4" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\jquery.ui.all.css" />
                        </Component>
                        <Component Id="cmpCFE473574FAE4496173424AFF1640563" Guid="{FE9050E0-2100-449F-926F-1CB3C87DA730}">
                            <File Id="filE67E27F2B20B6650BF7DEA1E8CDB9C8C" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\jquery.ui.autocomplete.css" />
                        </Component>
                        <Component Id="cmp4AA709519B3914846E2F22CEAA2E84E6" Guid="{5707E1C4-E1E2-4E89-B127-7B88792DB962}">
                            <File Id="fil365795C429EBDE91311F2A6E8DD7F082" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\jquery.ui.base.css" />
                        </Component>
                        <Component Id="cmp26A186906AF661745CBF2C327D478C00" Guid="{71E6A4BF-F77C-4812-B4C7-B7157EB74506}">
                            <File Id="fil7C5A06FC8B4471E7496C72DA1D939A96" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\jquery.ui.button.css" />
                        </Component>
                        <Component Id="cmpA3AC724B951E46196561DDAEC983F1C6" Guid="{5529DF3C-5A93-41BC-AE88-7F907CC9FBA9}">
                            <File Id="filB64B161006F086A1800EF4CE8468E9E3" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\jquery.ui.core.css" />
                        </Component>
                        <Component Id="cmp52CA07FB6A56AB17E7AD0CB5408E5C1C" Guid="{5E066996-409A-42DC-90D4-9E8A6A85798C}">
                            <File Id="fil0F4C7A37D97F5E42271C5E0B80A3AB7C" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\jquery.ui.datepicker.css" />
                        </Component>
                        <Component Id="cmp6C9B174BA737E71B955AAAFD28BEA45F" Guid="{5916B586-2F61-4DE0-8662-C9451108500F}">
                            <File Id="filCFDB1FD1B41A02197F8AF252AFBB2CBC" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\jquery.ui.dialog.css" />
                        </Component>
                        <Component Id="cmp4CA9A2723E30CB75758F99D770DEDCA4" Guid="{000EC541-F46E-42EE-9C1C-AA00E3307399}">
                            <File Id="fil451274C473DED71D8F3CDAF09D8EAA2B" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\jquery.ui.progressbar.css" />
                        </Component>
                        <Component Id="cmp1FDBC93F5B7ED405D2B5387836C08740" Guid="{E39F57CF-34A4-4672-9AD2-4A31C7F70FE6}">
                            <File Id="fil9F0B49587AC9DA7C31FBF8EF9D2F808C" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\jquery.ui.resizable.css" />
                        </Component>
                        <Component Id="cmp3BA76CDCA6F276061D66E96C5EC04AD6" Guid="{ABDC36E9-0031-4A4F-AEFB-F6C0A151E8E4}">
                            <File Id="fil47E7A1E9C98343DF6FB134C0D9741B31" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\jquery.ui.selectable.css" />
                        </Component>
                        <Component Id="cmp37A1384F97739F5E643925CA2C6A90CF" Guid="{E2DE7539-DE8B-4DE2-8137-D6BE45E91109}">
                            <File Id="filB6F469D83A0153F49713D99713BA29B6" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\jquery.ui.slider.css" />
                        </Component>
                        <Component Id="cmp782D7E4F45D928898B1C2BCA156804CF" Guid="{ED9BFB67-CB31-4A0D-91E3-DF794011CD70}">
                            <File Id="filC19F2611A08A63BFE4A7DC8DDF4C2ADC" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\jquery.ui.tabs.css" />
                        </Component>
                        <Component Id="cmpED6BA419D91A03C9E5C3799A3B26C018" Guid="{551957F9-42CB-4B75-8CBB-810B680E70FF}">
                            <File Id="filA4091EBBD060BF9511B0902754B3E88D" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\jquery.ui.theme.css" />
                        </Component>
                        <Directory Id="dir2C303DF8BD2CBE7C5B420DBF24EAD407" Name="images">
                            <Component Id="cmp79BD287B59FEB94B6062D92F7DBBC031" Guid="{57667827-6785-4C8B-A991-3FC974F8F7FD}">
                                <File Id="fil67E768B151B63C631D80DFC46D9610BF" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\images\ui-bg_flat_0_aaaaaa_40x100.png" />
                            </Component>
                            <Component Id="cmpD2A70A510A5E37E7EC78AB0291B4800C" Guid="{2162EE24-406D-4FEA-85AD-8B2AE5C814C1}">
                                <File Id="fil62C78A023EB6F873BB847B1E525BDC1B" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\images\ui-bg_flat_75_ffffff_40x100.png" />
                            </Component>
                            <Component Id="cmpA6AE2F9D72632679A3326AD832CC197E" Guid="{01242769-4718-4D79-9A05-5A169D1EA5F2}">
                                <File Id="fil94EA9DBEB54502432CD28820CA4D552A" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\images\ui-bg_glass_55_fbf9ee_1x400.png" />
                            </Component>
                            <Component Id="cmp9F9CA659E94FC29A13C1096A4FF9D0A3" Guid="{4934D727-69F1-4D24-A6A1-DBA02F73BCCB}">
                                <File Id="filBE34F8A2ADD0CE8DB8998AB272AD0C8B" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\images\ui-bg_glass_65_ffffff_1x400.png" />
                            </Component>
                            <Component Id="cmpF9791421D977EE961DD3A452F5F7D749" Guid="{37004290-C775-4332-BFA1-4DFF2FF6329C}">
                                <File Id="fil88543EC9338E41465859B0A8E141ABAB" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\images\ui-bg_glass_75_dadada_1x400.png" />
                            </Component>
                            <Component Id="cmpC917BA37D3848118B1F0C2FC1F2AF7F2" Guid="{79757B6D-F5C4-4C37-9150-F10E9F82869B}">
                                <File Id="fil8FFFEC4365A07DCAADA67C890778E763" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\images\ui-bg_glass_75_e6e6e6_1x400.png" />
                            </Component>
                            <Component Id="cmp6DE9859609EB2A0745E77FB34F7A9D22" Guid="{F9643E6B-AAC4-4C1D-B969-9DA4FC7141B7}">
                                <File Id="fil5D20E8A056D9B8B8680CF3C313277D54" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\images\ui-bg_glass_95_fef1ec_1x400.png" />
                            </Component>
                            <Component Id="cmpD2854DB3B12056B3D7A7446B5D63D1D1" Guid="{B0B50436-AD48-405C-B507-8275A5E24FD0}">
                                <File Id="filD25FF2593F1F3C27A8659685AA38F1A3" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\images\ui-bg_highlight-soft_75_cccccc_1x100.png" />
                            </Component>
                            <Component Id="cmp2198CF8446EE59B45C40068C06B7E28C" Guid="{823650B4-BBB2-492B-9981-A0FDB9B7767E}">
                                <File Id="filDDA59EA3A564EE750EF8791472914D3B" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\images\ui-icons_222222_256x240.png" />
                            </Component>
                            <Component Id="cmp93E2ECA37A4B20E47B74FBE83F1BFC7F" Guid="{F840E87D-F60B-4590-9905-4AD409666F7F}">
                                <File Id="filE1FBA7656988C5999E7445D6FF57497E" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\images\ui-icons_2e83ff_256x240.png" />
                            </Component>
                            <Component Id="cmp499D97E08EF9C9524F5601876F8F0AD2" Guid="{813A6170-8D53-425F-A101-44947E56508E}">
                                <File Id="fil59C48EF65E56E11F44E765916981A487" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\images\ui-icons_454545_256x240.png" />
                            </Component>
                            <Component Id="cmp2DB2073F5C7956124FB2BC02AB9C4AEA" Guid="{B498969A-5BA7-46A6-A5CF-6BDA53575A0E}">
                                <File Id="fil8FB0C5C1F0ED74B3A6F5FC2CDB6EA09B" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\images\ui-icons_888888_256x240.png" />
                            </Component>
                            <Component Id="cmpF71D5C209D8827F18B82369FB3C502C2" Guid="{05F193B4-7B7A-45E8-827D-56689E17FDF0}">
                                <File Id="fil76C0AD337E3E6F85895B5AE47EB76E6E" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\images\ui-icons_cd0a0a_256x240.png" />
                            </Component>
                        </Directory>
                        <Directory Id="dir2D3501A58E705C4B2770357FA0459611" Name="minified">
                            <Component Id="cmp1141453762E2043F9F1792C47B7845E4" Guid="{D7083A20-9E9D-48C9-9DE2-0A0FA43091F4}">
                                <File Id="fil1852FEF7037E07FA0584BB27FEE5D62A" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\jquery-ui.min.css" />
                            </Component>
                            <Component Id="cmpFD45B0A70CAB9CFA45140DD5FE55F505" Guid="{6EF0FB30-6EB2-4E35-8391-1D29E0244023}">
                                <File Id="fil6FD8AEEDA715C50588B6F7E04CA5568B" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\jquery.ui.accordion.min.css" />
                            </Component>
                            <Component Id="cmp0D85E230ED27A3885B59862FB3C088AC" Guid="{604E4193-ADAA-4277-B43F-6CA2E58DAE0A}">
                                <File Id="fil8319E72B4BCAA2357D45C4AD9141400C" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\jquery.ui.autocomplete.min.css" />
                            </Component>
                            <Component Id="cmpD21481FB4645817C98AD974983547B2C" Guid="{4CEAFB5E-CE69-4AED-97BD-03552AB60B64}">
                                <File Id="fil156A455B7C098834F2BC100496833816" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\jquery.ui.button.min.css" />
                            </Component>
                            <Component Id="cmp974D7C76863DA144139041AEADC3D360" Guid="{2BBCC173-6F2D-4DD0-A578-FA1F1E93C60F}">
                                <File Id="filD386A028E2EEC6CCC028F875BFDED612" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\jquery.ui.core.min.css" />
                            </Component>
                            <Component Id="cmpC1392FF7C1FF7FFF1396E0FF85372392" Guid="{CE762F59-214E-4456-ABCE-7AA9EF626CEC}">
                                <File Id="fil96F15AA909309EDE1739079025AC0CDA" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\jquery.ui.datepicker.min.css" />
                            </Component>
                            <Component Id="cmpBAF9E64C91792BB90A58BD7E29785328" Guid="{AB0F59AE-3C39-4ACA-A82F-52AE0EEAA446}">
                                <File Id="fil82BAC1B3DAE350A0CB47F6505FD6F576" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\jquery.ui.dialog.min.css" />
                            </Component>
                            <Component Id="cmpA6B10B86C5D92DA634F7A444F628EB21" Guid="{BEAF62DC-30AE-405E-9068-F71D2F93D5B9}">
                                <File Id="fil27F394706139B130D664FCD9FDB1642F" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\jquery.ui.progressbar.min.css" />
                            </Component>
                            <Component Id="cmp6F1E3CC35C9718921E0B01ABDCBBBE24" Guid="{79AE37EB-F21A-4C9F-960A-FE8980C36C64}">
                                <File Id="fil40058BE8A4B0EEB9708F2A5C9530723A" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\jquery.ui.resizable.min.css" />
                            </Component>
                            <Component Id="cmp276DCF42D60E8A68063F9C8BA664B7BA" Guid="{323D7947-5FF2-499C-BA96-C49EEB17FEB7}">
                                <File Id="filC98B88010A20F65193FB6FA615B96AD5" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\jquery.ui.selectable.min.css" />
                            </Component>
                            <Component Id="cmp120F183F4622808C16D9AEF797FAC14A" Guid="{03D382DE-5281-474E-B1F9-1F525B81A507}">
                                <File Id="filCAF0A85875E311ACC0331C6C2DD65058" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\jquery.ui.slider.min.css" />
                            </Component>
                            <Component Id="cmp7F25E6A10AC346C1E1C7125906173CF5" Guid="{B1998BEE-19E9-4215-9C20-F23CAC3CAFC9}">
                                <File Id="filE3CE48768A71449736FE3E8D6427A21D" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\jquery.ui.tabs.min.css" />
                            </Component>
                            <Component Id="cmp8BF2C1F2129BD62F3CB11566C3F4DB9B" Guid="{ABE53A5D-23ED-4E78-8F77-B9AE35D06A17}">
                                <File Id="filD1B231B1AE145293A73E3D6A23008266" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\jquery.ui.theme.min.css" />
                            </Component>
                            <Directory Id="dirD651D4413F2902AF74418D8C24313753" Name="images">
                                <Component Id="cmp88D4438E2B5F5953730ABE6D49B9EB01" Guid="{ADEA3631-43F0-4A39-86A2-CF89CBD91738}">
                                    <File Id="fil571023C55BEE5D1F1C53C60464015718" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\images\ui-bg_flat_0_aaaaaa_40x100.png" />
                                </Component>
                                <Component Id="cmp4E07A03B5A6D0B610453D15B9C7B91B1" Guid="{28D34D0F-A4BD-40C1-8A77-233F31BE5E53}">
                                    <File Id="fil77F8DEA2F1B37602585576D58DC13694" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\images\ui-bg_flat_75_ffffff_40x100.png" />
                                </Component>
                                <Component Id="cmp818A211AEFE75C938C26DDFD2A1ABAFD" Guid="{1BE2613A-CF3F-452E-BE59-F41A92ECEE24}">
                                    <File Id="filF7E8013DB472972CC2473910CED7EBF9" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\images\ui-bg_glass_55_fbf9ee_1x400.png" />
                                </Component>
                                <Component Id="cmpA0387A4A3F2745806EB726AD69AE9932" Guid="{4E5C5367-7F70-497E-94EC-63DC1CDCBBF6}">
                                    <File Id="fil757843C79959D146A77DB4D87C5476F8" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\images\ui-bg_glass_65_ffffff_1x400.png" />
                                </Component>
                                <Component Id="cmp0A615F7612108FEC8D0790AF747C109A" Guid="{26AE307F-0A82-47CB-B492-1531DDFC599D}">
                                    <File Id="filE65DCB3AD3B38797A4107370CCF8C989" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\images\ui-bg_glass_75_dadada_1x400.png" />
                                </Component>
                                <Component Id="cmpFF32D0C319557B9DF06AEC6D8680F7AC" Guid="{3351C6C4-31E7-4064-94E5-333948FE48D4}">
                                    <File Id="filCD0455FA42D0B45B3C25DBA0B9D8C540" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\images\ui-bg_glass_75_e6e6e6_1x400.png" />
                                </Component>
                                <Component Id="cmp017735F4C436AA0C2DA0EADE55416A98" Guid="{C4EE88EF-4362-4F47-AB54-F95F7F37C804}">
                                    <File Id="filF0F0E16DA3A96843405FC3A2633C5B9A" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\images\ui-bg_glass_95_fef1ec_1x400.png" />
                                </Component>
                                <Component Id="cmpA4A39FBD7147CCAD77EB2028A15350DF" Guid="{720719A3-C3CA-4EBF-94EB-2118BF867DDF}">
                                    <File Id="filE0DD23E505E2E1320A6B9519C44B3173" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\images\ui-bg_highlight-soft_75_cccccc_1x100.png" />
                                </Component>
                                <Component Id="cmp08E76FA3BD8296289D554983169DF82E" Guid="{C4B837D1-EF0A-4292-AB22-5E6E3E422C4E}">
                                    <File Id="fil55C87DE4B6A422D0156E3984C6493CCE" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\images\ui-icons_222222_256x240.png" />
                                </Component>
                                <Component Id="cmpB0A97D4BA028A3BC6FDD67FBE9E597E5" Guid="{D66539D5-8A4E-4AEC-9A1D-464C32A962DF}">
                                    <File Id="fil05FFB1A08377B601828C23A30D84EA25" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\images\ui-icons_2e83ff_256x240.png" />
                                </Component>
                                <Component Id="cmp73F64D0E07956A075D17B1E2C46F55AE" Guid="{512A9782-7D08-4AC7-A7F4-225ECDA6F01C}">
                                    <File Id="filF57BA638C7BA95BF489204CA1784EC7D" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\images\ui-icons_454545_256x240.png" />
                                </Component>
                                <Component Id="cmpA3BC5D83EDE8835980A38CBE0806D278" Guid="{262C0430-76DF-442B-AEAE-46ADFC45A9C9}">
                                    <File Id="fil0DE77A3D376568D7DC9F36C2CB2D8A5C" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\images\ui-icons_888888_256x240.png" />
                                </Component>
                                <Component Id="cmp82EF3BD18776AAAD8914FB8B54B4D9B6" Guid="{95B7E04D-16A7-4926-A81B-041006B3AF16}">
                                    <File Id="filC624AAB816C8433ACEDD7B4DF90796F9" KeyPath="yes" Source="$(var.BasePath)\Content\themes\base\minified\images\ui-icons_cd0a0a_256x240.png" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="dirC2A84271A334BEB59324A808BB68FD7E" Name="Images">
                <Component Id="cmp3A90650252DBC5F99AA2B7983760475D" Guid="{E7A8E961-92FF-480A-8517-DC94C442DBC5}">
                    <File Id="fil82EF771B2D7D0B2F1A05100AD39475F0" KeyPath="yes" Source="$(var.BasePath)\Images\accent.png" />
                </Component>
                <Component Id="cmp94679F12287EFBD6EA3F2BE3B2740477" Guid="{1BFCBACA-5DF6-4986-B3B5-55C815C55BE1}">
                    <File Id="filAD8DE94298D7E468CC223FBDE1600727" KeyPath="yes" Source="$(var.BasePath)\Images\bullet.png" />
                </Component>
                <Component Id="cmp7BAA5CBF1FDFD1C7ECF723C9343886B8" Guid="{9BB69CCC-BF2A-4B2C-972C-AF75DDB4C154}">
                    <File Id="fil6B75A9EFED0499E6259BF59DDB7E3333" KeyPath="yes" Source="$(var.BasePath)\Images\header_bg.jpg" />
                </Component>
                <Component Id="cmpDC3DB59ECDB0CC90B3EFB16FE14FFB3E" Guid="{E6CF9DB6-4994-419F-8D26-99E7B2849911}">
                    <File Id="fil9E13D042EF907B0C2C651B7FB0D7403A" KeyPath="yes" Source="$(var.BasePath)\Images\heroAccent.png" />
                </Component>
                <Component Id="cmp8654D6C4D0349746ADCB4B1B0C0C8D62" Guid="{F609FF26-7806-4119-AE39-4670437B7D35}">
                    <File Id="fil9D64183B14526FF4203A9F721EEF9724" KeyPath="yes" Source="$(var.BasePath)\Images\logo.png" />
                </Component>
                <Component Id="cmp679B3F0AB56EC77192824036C6E2BF74" Guid="{1FF49EAD-DD7F-4159-AB0C-301D5EDDCB01}">
                    <File Id="filA15540B797BC8BD6EEA858F8B2EDBC2B" KeyPath="yes" Source="$(var.BasePath)\Images\orderedList0.png" />
                </Component>
                <Component Id="cmpD4F7F52A3D86C605AAE035E55BF2950D" Guid="{FE335D98-0F7E-43FE-B5FC-97169C6F2785}">
                    <File Id="filBD630F8AB7C85A9A4AFE50AD57B032A5" KeyPath="yes" Source="$(var.BasePath)\Images\orderedList1.png" />
                </Component>
                <Component Id="cmp47E1D511657E2D7C234EB4DF9F1BDABA" Guid="{DE9818D3-50C3-4576-BC88-42B74E9F087C}">
                    <File Id="fil3C162C5100FD9D16EE4D5E26D6343270" KeyPath="yes" Source="$(var.BasePath)\Images\orderedList2.png" />
                </Component>
                <Component Id="cmp5A2C0D5F532DCCA52DDFB34E22896038" Guid="{BB792AD1-2DC0-42A6-B184-9EFF785E08D6}">
                    <File Id="fil9D8252F8C9F72E3D88D32571B6927B7F" KeyPath="yes" Source="$(var.BasePath)\Images\orderedList3.png" />
                </Component>
                <Component Id="cmpF0193A31395BCAB6B4EDB2B262D452ED" Guid="{A7471487-3E02-4731-A0B9-91FB09066EF2}">
                    <File Id="fil1A277516FE84D565AE8872EA58D86CA9" KeyPath="yes" Source="$(var.BasePath)\Images\orderedList4.png" />
                </Component>
                <Component Id="cmp6AE4DF69F2ACBE635B1109D9EDE21FFE" Guid="{F0E46049-7A9E-4F6D-9A36-3938FF89C3A8}">
                    <File Id="fil28F3B132E2E663BE582C30FA6F339F11" KeyPath="yes" Source="$(var.BasePath)\Images\orderedList5.png" />
                </Component>
                <Component Id="cmpDAA212B08F1596AF6BFEAAB37E238554" Guid="{3D42D94A-B1B3-4918-AF88-BCCBE6E1BEE5}">
                    <File Id="fil4B80F85EE1FDC84E5A32E6B52BF8962E" KeyPath="yes" Source="$(var.BasePath)\Images\orderedList6.png" />
                </Component>
                <Component Id="cmp64A0056F535233648E496D908D9EE434" Guid="{C880DD38-2A11-450F-8125-69BE1F18793E}">
                    <File Id="filAF36B67EF836192780549C4CC7B1D9D0" KeyPath="yes" Source="$(var.BasePath)\Images\orderedList7.png" />
                </Component>
                <Component Id="cmp99B3F001E602FA9394F2AF8627E28696" Guid="{129CED5A-E941-4599-A08F-EF4D6A3C3C34}">
                    <File Id="filD9FAC294A5CB9E95F7D53C41C217A45B" KeyPath="yes" Source="$(var.BasePath)\Images\orderedList8.png" />
                </Component>
                <Component Id="cmp16E543AF8B83E638ED1C93C244A1E70F" Guid="{4ACBCD6F-F09D-455B-906D-63289D374B3E}">
                    <File Id="filB903BBBBF6AE90D73153CE925F39CC24" KeyPath="yes" Source="$(var.BasePath)\Images\orderedList9.png" />
                </Component>
            </Directory>
            <Directory Id="dir33A2F09B010813323099475AA1D7838F" Name="Scripts">
                <Component Id="cmp09B6ED957397419DC1B411852BA8732A" Guid="{2B859F45-B0D8-4509-AAD1-572702E60B1B}">
                    <File Id="filD8B7F1E43C26E5B9448FB85BA5A72955" KeyPath="yes" Source="$(var.BasePath)\Scripts\jquery-1.7.1.js" />
                </Component>
                <Component Id="cmpA85A59B125CBE55404EE48E53571AE0E" Guid="{76C05145-526D-4FEB-AD31-3A12B58BE151}">
                    <File Id="fil69E4F69C3F71713D83627E83A411B48F" KeyPath="yes" Source="$(var.BasePath)\Scripts\jquery-1.7.1.min.js" />
                </Component>
                <Component Id="cmpE45F93957476AE8E2744C68E0CF7C40A" Guid="{EF609B37-F4AA-46E8-B68E-7D60EA4D735B}">
                    <File Id="fil9071F703AD052663B174C098C7CF072E" KeyPath="yes" Source="$(var.BasePath)\Scripts\jquery-ui-1.8.20.js" />
                </Component>
                <Component Id="cmp6B9F71769DF2A7439D47AA5A194344BE" Guid="{755558E4-8CAB-4119-8946-7F1B01FDCD06}">
                    <File Id="filF425A101420EE02C210F79665FB0B499" KeyPath="yes" Source="$(var.BasePath)\Scripts\jquery-ui-1.8.20.min.js" />
                </Component>
                <Component Id="cmp51B243995572EFF458873F39C6ECD6B6" Guid="{6FAA4475-E7FE-4625-AEAA-11A31835CF70}">
                    <File Id="filC4EABC615454DD3D65F268D67B36F92E" KeyPath="yes" Source="$(var.BasePath)\Scripts\jquery.unobtrusive-ajax.js" />
                </Component>
                <Component Id="cmp8715DD28B6B2427BCACD24FD1AA80277" Guid="{A3DDAE65-AD27-423E-9224-E654A8A429A5}">
                    <File Id="filFA014DA1430311643CEDA0A153C9D0FF" KeyPath="yes" Source="$(var.BasePath)\Scripts\jquery.unobtrusive-ajax.min.js" />
                </Component>
                <Component Id="cmp714CDAD52DD8C166ADB9F9D06E00F7A7" Guid="{D0EFC54C-9530-42A8-809F-9C41D863C44A}">
                    <File Id="filB41C13E7B84CAD01B3377F8232D87224" KeyPath="yes" Source="$(var.BasePath)\Scripts\jquery.validate.js" />
                </Component>
                <Component Id="cmp68CF87A5F7BFF71A4D16683159EF76EE" Guid="{147A02A2-7D4B-42AE-9FDF-D5ED50A419D1}">
                    <File Id="filAAE1EBDA49525218562253FD269A06F7" KeyPath="yes" Source="$(var.BasePath)\Scripts\jquery.validate.min.js" />
                </Component>
                <Component Id="cmpF0FAF1501A114DF1520259529D62975D" Guid="{4D2BAF2F-F669-4171-A184-34DF31057456}">
                    <File Id="fil95133A56C77192E0BEB136D2FF4EEDE6" KeyPath="yes" Source="$(var.BasePath)\Scripts\jquery.validate.unobtrusive.js" />
                </Component>
                <Component Id="cmp5D07AB12157E012BE6498088827EF445" Guid="{3F742226-9B5F-4736-8F5C-E5EE6F6A7C34}">
                    <File Id="filA42BBE3AFD55E921203E28092A13E4C0" KeyPath="yes" Source="$(var.BasePath)\Scripts\jquery.validate.unobtrusive.min.js" />
                </Component>
                <Component Id="cmp2CE54D984D1A4FB1324F1471A46E29CF" Guid="{FD2C804A-958E-4C62-BA04-2ED9DEBE39DF}">
                    <File Id="fil31CBCB9491AB98AA94113BDABDD2B822" KeyPath="yes" Source="$(var.BasePath)\Scripts\knockout-2.1.0.debug.js" />
                </Component>
                <Component Id="cmp384D9344ACE731DE8D656CF28B0D8727" Guid="{D598D1C2-9353-495F-906C-43FA907304A2}">
                    <File Id="filD4F27576046800AE09F685CAC19D99C5" KeyPath="yes" Source="$(var.BasePath)\Scripts\knockout-2.1.0.js" />
                </Component>
                <Component Id="cmp9CA538B299411CB24B0B70401549154D" Guid="{418F63C4-56D7-4B36-B2CF-07ADD7721D90}">
                    <File Id="filA51F7D210B5A2A0DC00A3B79C12ED7C9" KeyPath="yes" Source="$(var.BasePath)\Scripts\modernizr-2.5.3.js" />
                </Component>
                <Component Id="cmpF483590888A6612A56709D3C133B31D3" Guid="{692BC3BE-28AF-4C17-881D-B636F6B271C5}">
                    <File Id="filBDCF9C3617BA422FDF54CB926C34676B" KeyPath="yes" Source="$(var.BasePath)\Scripts\_references.js" />
                </Component>
            </Directory>
            <Directory Id="dir80336B8805F52EE6540E5C041C102B14" Name="Views">
                <Component Id="cmp07FC7C854423B3249C80BF129B4AF9E5" Guid="{85B2F3AC-D94D-4CCA-B075-2C0515CE110A}">
                    <File Id="fil46EF647C26B9EC12B4D8CFA7AF6875DD" KeyPath="yes" Source="$(var.BasePath)\Views\Web.config" />
                </Component>
                <Component Id="cmp310576D7620B42E68FA7D27F684033D9" Guid="{97D3AA11-FDED-4890-85D3-7F000C0109AD}">
                    <File Id="fil0C4E4BC44840EDC5FE1052DEB643BE0F" KeyPath="yes" Source="$(var.BasePath)\Views\_ViewStart.cshtml" />
                </Component>
                <Directory Id="dir6BAD38F6362B08BEA7B04F97CDBED3ED" Name="Home">
                    <Component Id="cmp522AE9CE8726BC55CD39663342D7BFA3" Guid="{8AC4D7FD-75DC-47CE-933E-D2B366F4A94F}">
                        <File Id="filB2959C5ED3FF6BDF7CFF520B4BEBF7A8" KeyPath="yes" Source="$(var.BasePath)\Views\Home\EditDesktopOffering.cshtml" />
                    </Component>
                    <Component Id="cmp916BD1E141DD1D802EFF3B1D7A7A448D" Guid="{1459FE39-3EEB-414E-A222-BAC3392F45C3}">
                        <File Id="fil6BBC4E1466F8C3316D2D39D9228F4B7A" KeyPath="yes" Source="$(var.BasePath)\Views\Home\EditDesktopServiceConfiguration.cshtml" />
                    </Component>
                    <Component Id="cmp3B1C2DFB54E5EA5AE5E46F0C2AEA2814" Guid="{AF54CB3F-6B71-4304-874A-1409A21703A4}">
                        <File Id="fil7F78642AA20FAB3D4955E4C67F676396" KeyPath="yes" Source="$(var.BasePath)\Views\Home\Error.cshtml" />
                    </Component>
                    <Component Id="cmpA6DD513026156AA8148733CE823EC43B" Guid="{4E696FAF-8A72-41EF-804E-2AA33D40C604}">
                        <File Id="filF550F8CB2C328BF460F151CA2722A7FB" KeyPath="yes" Source="$(var.BasePath)\Views\Home\Index.cshtml" />
                    </Component>
                    <Component Id="cmpF27585A30A5C3343AA42973E9F0435EC" Guid="{6B8E9394-0872-437C-9EDC-2769F06D964B}">
                        <File Id="filC4E6FA758C236B67205DFEC47C3A46E1" KeyPath="yes" Source="$(var.BasePath)\Views\Home\ViewDesktopOfferings.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dirDDA78272B9002589A49905B2BC2F95F8" Name="Shared">
                    <Component Id="cmp8D80F6934965F8C17A8FE52063E6669C" Guid="{4EF2AD93-A898-4807-AE3D-E171D46556E7}">
                        <File Id="fil9428DE7E47A6AB693F514882464E2048" KeyPath="yes" Source="$(var.BasePath)\Views\Shared\Error.cshtml" />
                    </Component>
                    <Component Id="cmp2AADE09DEBF6644D19B3041747337047" Guid="{23B6A53B-6F86-4889-BA3E-A5FA47D92E7A}">
                        <File Id="filBB627502828F370D76BE3BAC6695270B" KeyPath="yes" Source="$(var.BasePath)\Views\Shared\_Layout.cshtml" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Citrix.SelfServiceDesktops.Admin.WebApp_Project">
            <ComponentRef Id="cmp2A2B27F5AD386D451F6AD02173DDB353" />
            <ComponentRef Id="cmp6A4F9D28DF6F992FCE04768A605F3F6B" />
            <ComponentRef Id="cmp3DE0E27CB4AD0EAD15733F20AB0760EF" />
            <ComponentRef Id="cmpCDB7F4EFDEF1E65C3B12BEBAD7E4D7EA" />
            <ComponentRef Id="cmp25D2BB97913BC97427F29C9D54112EB3" />
            <ComponentRef Id="cmp78EA4DDA800A56E5F426A77D9907BFAD" />
            <ComponentRef Id="cmp9DD49F543BC594C079F50328E7814722" />
            <ComponentRef Id="cmp8E117A0378750F9C53BDC27C57815638" />
            <ComponentRef Id="cmpF7BCACEE096559E8F5360E7D34A134ED" />
            <ComponentRef Id="cmp580D0BB2F33C35FED291D2003033FB96" />
            <ComponentRef Id="cmp1F6502879D3336438BA3B674023233E4" />
            <ComponentRef Id="cmpE54B014890D2FA4CC95EEFF47B75AC99" />
            <ComponentRef Id="cmp24F89BA3EBF5567C3E6CA10AB2A7EAB3" />
            <ComponentRef Id="cmp6A72D18291C24168AFD8D4589DF67B9B" />
            <ComponentRef Id="cmpE595FD0109F9456D059F4A3F14F7CF8A" />
            <ComponentRef Id="cmp0928096FCD5256967D6C19713B305C8C" />
            <ComponentRef Id="cmp4795109627B83AD0BD4AE603B111DBF1" />
            <ComponentRef Id="cmpDE273EC5A6ABB02DB8578BC4F2ABEBD3" />
            <ComponentRef Id="cmpBE9BB87ABB7F80C07AB897C66C4BFF19" />
            <ComponentRef Id="cmp32CCDC9B03F8214C5DDDD9717C0B0DCD" />
            <ComponentRef Id="cmp8E755731D2F4513E05B1835C366B4FD0" />
            <ComponentRef Id="cmpA4AC38BCA223E6D040AD4A04A51212F6" />
            <ComponentRef Id="cmpE60845712FBC0938EC9D42DA0FBDFF44" />
            <ComponentRef Id="cmp7C5E0173F73C80F69AE5B339905F1CB7" />
            <ComponentRef Id="cmp735C96C48954EB2CBF113474F0BC85D4" />
            <ComponentRef Id="cmpA7F0F3CA5AC10E3C0A3496788771A1DF" />
            <ComponentRef Id="cmpEA09AAD207FE05D3450FEEF959A34EEA" />
            <ComponentRef Id="cmp1A8CCD05EF52550EAC9D5912926FD160" />
            <ComponentRef Id="cmp73B1845052612B620A724C3DC5A71527" />
            <ComponentRef Id="cmp2E762DAB6A0D1BBC2945B465F3EA2894" />
            <ComponentRef Id="cmp7004A2DA3185B23160B6485ABF90905B" />
            <ComponentRef Id="cmp8A07513284B95B4DBE45D79B8EE2B8AC" />
            <ComponentRef Id="cmpD7B16FA37BD6C1853D39C718E5B804AE" />
            <ComponentRef Id="cmpBA2BEE95E297EF63802D4AD4619B71EE" />
            <ComponentRef Id="cmpCFE473574FAE4496173424AFF1640563" />
            <ComponentRef Id="cmp4AA709519B3914846E2F22CEAA2E84E6" />
            <ComponentRef Id="cmp26A186906AF661745CBF2C327D478C00" />
            <ComponentRef Id="cmpA3AC724B951E46196561DDAEC983F1C6" />
            <ComponentRef Id="cmp52CA07FB6A56AB17E7AD0CB5408E5C1C" />
            <ComponentRef Id="cmp6C9B174BA737E71B955AAAFD28BEA45F" />
            <ComponentRef Id="cmp4CA9A2723E30CB75758F99D770DEDCA4" />
            <ComponentRef Id="cmp1FDBC93F5B7ED405D2B5387836C08740" />
            <ComponentRef Id="cmp3BA76CDCA6F276061D66E96C5EC04AD6" />
            <ComponentRef Id="cmp37A1384F97739F5E643925CA2C6A90CF" />
            <ComponentRef Id="cmp782D7E4F45D928898B1C2BCA156804CF" />
            <ComponentRef Id="cmpED6BA419D91A03C9E5C3799A3B26C018" />
            <ComponentRef Id="cmp79BD287B59FEB94B6062D92F7DBBC031" />
            <ComponentRef Id="cmpD2A70A510A5E37E7EC78AB0291B4800C" />
            <ComponentRef Id="cmpA6AE2F9D72632679A3326AD832CC197E" />
            <ComponentRef Id="cmp9F9CA659E94FC29A13C1096A4FF9D0A3" />
            <ComponentRef Id="cmpF9791421D977EE961DD3A452F5F7D749" />
            <ComponentRef Id="cmpC917BA37D3848118B1F0C2FC1F2AF7F2" />
            <ComponentRef Id="cmp6DE9859609EB2A0745E77FB34F7A9D22" />
            <ComponentRef Id="cmpD2854DB3B12056B3D7A7446B5D63D1D1" />
            <ComponentRef Id="cmp2198CF8446EE59B45C40068C06B7E28C" />
            <ComponentRef Id="cmp93E2ECA37A4B20E47B74FBE83F1BFC7F" />
            <ComponentRef Id="cmp499D97E08EF9C9524F5601876F8F0AD2" />
            <ComponentRef Id="cmp2DB2073F5C7956124FB2BC02AB9C4AEA" />
            <ComponentRef Id="cmpF71D5C209D8827F18B82369FB3C502C2" />
            <ComponentRef Id="cmp1141453762E2043F9F1792C47B7845E4" />
            <ComponentRef Id="cmpFD45B0A70CAB9CFA45140DD5FE55F505" />
            <ComponentRef Id="cmp0D85E230ED27A3885B59862FB3C088AC" />
            <ComponentRef Id="cmpD21481FB4645817C98AD974983547B2C" />
            <ComponentRef Id="cmp974D7C76863DA144139041AEADC3D360" />
            <ComponentRef Id="cmpC1392FF7C1FF7FFF1396E0FF85372392" />
            <ComponentRef Id="cmpBAF9E64C91792BB90A58BD7E29785328" />
            <ComponentRef Id="cmpA6B10B86C5D92DA634F7A444F628EB21" />
            <ComponentRef Id="cmp6F1E3CC35C9718921E0B01ABDCBBBE24" />
            <ComponentRef Id="cmp276DCF42D60E8A68063F9C8BA664B7BA" />
            <ComponentRef Id="cmp120F183F4622808C16D9AEF797FAC14A" />
            <ComponentRef Id="cmp7F25E6A10AC346C1E1C7125906173CF5" />
            <ComponentRef Id="cmp8BF2C1F2129BD62F3CB11566C3F4DB9B" />
            <ComponentRef Id="cmp88D4438E2B5F5953730ABE6D49B9EB01" />
            <ComponentRef Id="cmp4E07A03B5A6D0B610453D15B9C7B91B1" />
            <ComponentRef Id="cmp818A211AEFE75C938C26DDFD2A1ABAFD" />
            <ComponentRef Id="cmpA0387A4A3F2745806EB726AD69AE9932" />
            <ComponentRef Id="cmp0A615F7612108FEC8D0790AF747C109A" />
            <ComponentRef Id="cmpFF32D0C319557B9DF06AEC6D8680F7AC" />
            <ComponentRef Id="cmp017735F4C436AA0C2DA0EADE55416A98" />
            <ComponentRef Id="cmpA4A39FBD7147CCAD77EB2028A15350DF" />
            <ComponentRef Id="cmp08E76FA3BD8296289D554983169DF82E" />
            <ComponentRef Id="cmpB0A97D4BA028A3BC6FDD67FBE9E597E5" />
            <ComponentRef Id="cmp73F64D0E07956A075D17B1E2C46F55AE" />
            <ComponentRef Id="cmpA3BC5D83EDE8835980A38CBE0806D278" />
            <ComponentRef Id="cmp82EF3BD18776AAAD8914FB8B54B4D9B6" />
            <ComponentRef Id="cmp3A90650252DBC5F99AA2B7983760475D" />
            <ComponentRef Id="cmp94679F12287EFBD6EA3F2BE3B2740477" />
            <ComponentRef Id="cmp7BAA5CBF1FDFD1C7ECF723C9343886B8" />
            <ComponentRef Id="cmpDC3DB59ECDB0CC90B3EFB16FE14FFB3E" />
            <ComponentRef Id="cmp8654D6C4D0349746ADCB4B1B0C0C8D62" />
            <ComponentRef Id="cmp679B3F0AB56EC77192824036C6E2BF74" />
            <ComponentRef Id="cmpD4F7F52A3D86C605AAE035E55BF2950D" />
            <ComponentRef Id="cmp47E1D511657E2D7C234EB4DF9F1BDABA" />
            <ComponentRef Id="cmp5A2C0D5F532DCCA52DDFB34E22896038" />
            <ComponentRef Id="cmpF0193A31395BCAB6B4EDB2B262D452ED" />
            <ComponentRef Id="cmp6AE4DF69F2ACBE635B1109D9EDE21FFE" />
            <ComponentRef Id="cmpDAA212B08F1596AF6BFEAAB37E238554" />
            <ComponentRef Id="cmp64A0056F535233648E496D908D9EE434" />
            <ComponentRef Id="cmp99B3F001E602FA9394F2AF8627E28696" />
            <ComponentRef Id="cmp16E543AF8B83E638ED1C93C244A1E70F" />
            <ComponentRef Id="cmp09B6ED957397419DC1B411852BA8732A" />
            <ComponentRef Id="cmpA85A59B125CBE55404EE48E53571AE0E" />
            <ComponentRef Id="cmpE45F93957476AE8E2744C68E0CF7C40A" />
            <ComponentRef Id="cmp6B9F71769DF2A7439D47AA5A194344BE" />
            <ComponentRef Id="cmp51B243995572EFF458873F39C6ECD6B6" />
            <ComponentRef Id="cmp8715DD28B6B2427BCACD24FD1AA80277" />
            <ComponentRef Id="cmp714CDAD52DD8C166ADB9F9D06E00F7A7" />
            <ComponentRef Id="cmp68CF87A5F7BFF71A4D16683159EF76EE" />
            <ComponentRef Id="cmpF0FAF1501A114DF1520259529D62975D" />
            <ComponentRef Id="cmp5D07AB12157E012BE6498088827EF445" />
            <ComponentRef Id="cmp2CE54D984D1A4FB1324F1471A46E29CF" />
            <ComponentRef Id="cmp384D9344ACE731DE8D656CF28B0D8727" />
            <ComponentRef Id="cmp9CA538B299411CB24B0B70401549154D" />
            <ComponentRef Id="cmpF483590888A6612A56709D3C133B31D3" />
            <ComponentRef Id="cmp07FC7C854423B3249C80BF129B4AF9E5" />
            <ComponentRef Id="cmp310576D7620B42E68FA7D27F684033D9" />
            <ComponentRef Id="cmp522AE9CE8726BC55CD39663342D7BFA3" />
            <ComponentRef Id="cmp916BD1E141DD1D802EFF3B1D7A7A448D" />
            <ComponentRef Id="cmp3B1C2DFB54E5EA5AE5E46F0C2AEA2814" />
            <ComponentRef Id="cmpA6DD513026156AA8148733CE823EC43B" />
            <ComponentRef Id="cmpF27585A30A5C3343AA42973E9F0435EC" />
            <ComponentRef Id="cmp8D80F6934965F8C17A8FE52063E6669C" />
            <ComponentRef Id="cmp2AADE09DEBF6644D19B3041747337047" />
        </ComponentGroup>
    </Fragment>
</Wix>