<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="selfServiceDesktops" type="Citrix.SelfServiceDesktops.DesktopLibrary.Configuration.SelfServiceDesktopsSection, Citrix.SelfServiceDesktops.DesktopLibrary"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  <selfServiceDesktops>

    <!-- Optional location for Agent. If missing, may be inferred from selfServiceDesktops remoteConfig attribute -->
    <agent baseUrl="http://localhoat:8000/" />

    <!-- The script to be periodically executed by the Windows Service (Agent) -->
    <script path="SyncDesktops.ps1" frequency="0:00:10" debug="true"/>
    
    <!-- The port that the Windows Service Agent will listen on (e.g. for config requests) -->
    <listen port="8000" />

    <!-- XenDesktop broker web app address -->
    <broker url="http://localhost/Citrix/DesktopWeb/" />

    <!-- The CloudPlatform server -->
    <cloudstack url="http://192.168.1.1:8080/client/api" domain="" hashPassword="true"/>
    
    <desktopOfferings>
      
      <add name="Windows 7" description="Windows 7 desktop offering" 
           zone-id="70acebbf-6c96-4d7e-b7c5-cb172ce1ce01" 
           template-id="f2f2d99d-8320-464e-a0d8-907dedceeb5c" 
           service-offering-id="7598e893-a555-4d54-b691-3657177182e8" 
           network-id="75120d3c-4546-4a58-b8ba-865049df8063" 
           hostname-prefix="win7desk"/>
      
      <add name="Windows 8" description="Windows 8 desktop offering" 
           zone-id="70acebbf-6c96-4d7e-b7c5-cb172ce1ce01" 
           template-id="f2f2d99d-8320-464e-a0d8-907dedceeb5c" 
           service-offering-id="7598e893-a555-4d54-b691-3657177182e8" 
           network-id="75120d3c-4546-4a58-b8ba-865049df8063" 
           hostname-prefix="win8desk"
           sync="false"/>
     
      <add name="Streamed Windows 7 (server cache)"
        xendesktop-catalog="PVS Streamed Desktops"
        description="Windows 7 streamed from PVS with server cache"
        zone-id="70acebbf-6c96-4d7e-b7c5-cb172ce1ce01"
        service-offering-id="7598e893-a555-4d54-b691-3657177182e8"
        network-id="75120d3c-4546-4a58-b8ba-865049df8063"
        hostname-prefix="w7pvs"
        iso-id="f1d60f72-9356-439c-8a66-f6c478d896c8"
        hypervisor="XenServer"
        disk-offering-id="9692788a-c991-4096-bd3b-0caf11bafdb4">
        <device-collection server="pvs01.formentera.cloud.com" site="Cambourne" collection="SSDImages" />
      </add>
      
      <add name="Streamed Windows 7 (client cache)"
           xendesktop-catalog="PVS Streamed Desktops"
           description="Windows 7 streamed from PVS with client cache"
           zone-id="70acebbf-6c96-4d7e-b7c5-cb172ce1ce01"
           template-id="8a669f1b-5fee-4c21-b9ab-36a74716cd97"
           service-offering-id="7598e893-a555-4d54-b691-3657177182e8"
           network-id="75120d3c-4546-4a58-b8ba-865049df8063"
           hostname-prefix="w7pvsCache"
           iso-id="f1d60f72-9356-439c-8a66-f6c478d896c8">
        <device-collection server="pvs01.formentera.cloud.com" site="Cambourne" collection="SSDCache" />
      </add>
      
    </desktopOfferings>
  </selfServiceDesktops>
  
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="FileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\CtxLogs\self-service-desktops-agent.log"/>
      </listeners>
    </trace>
    <switches>
      <!-- 
      Switch name should not be changed as it identifies a switch embedded in the code.
      
      Switch value controls the level of trace information written:
        0 = Off, 1 = Error, 2 = Warning, 3 = Info, 4 = Verbose.
      
      Any number greater than 4 is treated as Verbose, and any number less than zero is treated as Off 
        
      -->
      <add name="self-service-desktops-agent" value="3"/>
    </switches>
  </system.diagnostics>
</configuration>
