@font-face
{
	font-family: Avenir;
	src: url(../font%2FAvenir%20LT%2045%20Book_9.ttf);
}
TD.info
{
	border-top: none;
}
.info
{
}
.info
{
}
HTML
{
	padding-bottom: 0px;
	background-color: #E2E2E2;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
BODY
{
	padding-bottom: 0px;
	background-color: #FFF;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	color: #333;
	font-size: 0.85em;
	border-top: 10px solid #000;
	padding-top: 0px;
}
A
{
	outline-style: none;
	outline-color: invert;
	padding-left: 3px;
	outline-width: medium;
	padding-right: 3px;
	color: #FFFFFF;
	text-decoration: underline;
}
A:link
{
	color: #0a79ac;
}
A:visited
{
	color: #0a79ac;
}
A:active
{
	color: #333;
}
A:hover
{
	color: #333;
}
A:hover
{
}
HEADER
{
	display: block;
	background-image: url(header_bg.jpg);
        background-repeat: repeat-x;
	height: 75px;
	margin-top: -12px;
}
FOOTER
{
	display: block;
}
HGROUP
{
	display: block;
}
NAV
{
	display: block;
}
SECTION
{
	display: block;
}
MARK
{
	background-color: #A6DBED;
	padding-left: 5px;
	padding-right: 5px;
}
.float-left
{
	float: left;
}
.float-lefty
{
	float: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.float-right
{
	float: right;
}
.clear-fix:after
{
	display: block;
	height: 0px;
	visibility: hidden;
	clear: both;
	content: ".";
}
H1
{
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #ffffff;
}
H2
{
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #000;
}
H3
{
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #000;
}
H4
{
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #000;
}
H5
{
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #000;
}
H6
{
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #000;
}
H1
{
	font-size: 2em;
}
H2
{
	
    color: #999;
	
	padding-bottom: 17px;
	margin-top: -14px;
}
H3
{
	font-size: 1.2em;
}
H4
{
	font-size: 1.1em;
}
H5
{
	font-size: 1em;
}
H6
{
	font-size: 1em;
}
H5 A:link
{
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	text-decoration: none;
	padding-top: 0px;
}
H5 A:visited
{
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	text-decoration: none;
	padding-top: 0px;
}
H5 A:active
{
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	text-decoration: none;
	padding-top: 0px;
}
.content-wrapper
{
	margin: 0px auto;
	max-width: 960px;
}
#body
{
	padding-bottom: 35px;
	background-color: white;
	clear: both;
} 
.table_style
{
	width: 877px;
	background-color:#DEDCDC;
	padding-top: 8px;
	padding-bottom: 27px;
	padding-left: 21px;
}

.table_style2
{
	width: 365px;
background-color:#DEDCDC;
	height: 242px;
	padding-left: 20px;
	padding-top: 1px;
}

.offering-label
{
	/*[empty]margin-left:;*/
}
.main-content
{
	padding-left: 10px;

	padding-top: 30px;
}
#body
{
	background-color: white;
}
.featured + .main-content
{
	background: url(../Images/heroAccent.png) no-repeat;
}
HEADER .content-wrapper
{
	padding-top: 20px;
}
FOOTER
{
	background-color: #E2E2E2;
	height: 100px;
	clear: both;
	font-size: 0.8em;
}

.powered-by 
{
	font-size: 1.7em; 
	font-weight: 600; 
	color: #999;
}
.site-title
{
	margin: 0px;
	font-family: Avenir;
	color: white;
	font-size: 2.3em;
}

.site-title A
{
	outline-style: none;
	outline-color: invert;
	outline-width: medium;
	background: transparent repeat 0% 0%;
	color: #F5F4F4;
	text-decoration: none;
}
.site-title A:hover
{
	outline-style: none;
	outline-color: invert;
	outline-width: medium;
	background: transparent repeat 0% 0%;
	color: #D3D1D1;
	text-decoration: none;
}
.site-title A:active
{
	outline-style: none;
	outline-color: invert;
	outline-width: medium;
	background: transparent repeat 0% 0%;
	color: #FFFFFF;
	text-decoration: none;
}
#login
{
	text-align: right;
	margin: 0px 0px 10px;
	display: block;
	font-size: 0.85em;
	color: #FFFFFF;
}
#login A
{
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 10px;
	margin-right: 3px;
	text-decoration: none;
	padding-top: 2px;
	color: #FFFFFF;
}
#login A.username
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background: transparent repeat 0% 0%;
	text-decoration: underline;
	padding-top: 0px;
}
#login UL
{
	margin: 0px;
}
#login LI
{
	list-style-type: none;
	display: inline;
	list-style-image: none;
}
UL#menu
{
	text-align: right;
	padding-bottom: 0px;
	margin: 0px 0px 5px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 0px;
}
UL#menu LI
{
	list-style-type: none;
	padding-left: 15px;
	display: inline;
	list-style-image: none;
}
UL#menu LI A
{
	background: transparent repeat 0% 0%;
	color: #999;
	text-decoration: none;
}
UL#menu LI A:hover
{
	color: #FFFFFF;
	text-decoration: underline;
}
.featured
{
	background-color: #FFF;
}
.featured .content-wrapper
{
	padding-bottom: 30px;
	background-color: #7AC0DA;
	padding-left: 40px;
	padding-right: 40px;
	color: #3E5667;
	padding-top: 20px;
}
.featured HGROUP.title H1
{
	color: #FFF;
}
.featured HGROUP.title H2
{
	color: #FFF;
}
.featured P
{
	font-size: 1.1em;
}
HGROUP.title
{
	margin-bottom: 10px;
}
HGROUP.title H1
{
	display: inline;
}
HGROUP.title H2
{
	display: inline;
}
HGROUP.title H2
{
	margin-left: 3px;
	font-weight: normal;
}
SECTION.feature
{
	padding-bottom: 10px;
	padding-left: 10px;
	width: 300px;
	padding-right: 10px;
	float: left;
	padding-top: 10px;
}
OL.round
{
	list-style-type: none;
	padding-left: 0px;
}
OL.round LI
{
	margin: 25px 0px;
	padding-left: 45px;
}
OL.round LI.zero
{
	background: url(../Images/orderedList0.png) no-repeat;
}
OL.round LI.one
{
	background: url(../Images/orderedList1.png) no-repeat;
}
OL.round LI.two
{
	background: url(../Images/orderedList2.png) no-repeat;
}
OL.round LI.three
{
	background: url(../Images/orderedList3.png) no-repeat;
}
OL.round LI.four
{
	background: url(../Images/orderedList4.png) no-repeat;
}
OL.round LI.five
{
	background: url(../Images/orderedList5.png) no-repeat;
}
OL.round LI.six
{
	background: url(../Images/orderedList6.png) no-repeat;
}
OL.round LI.seven
{
	background: url(../Images/orderedList7.png) no-repeat;
}
OL.round LI.eight
{
	background: url(../Images/orderedList8.png) no-repeat;
}
OL.round LI.nine
{
	background: url(../Images/orderedList9.png) no-repeat;
}
ARTICLE
{
	width: 70%;
	float: left;
}
ASIDE
{
	width: 25%;
	float: right;
}
ASIDE UL
{
	padding-bottom: 0px;
	list-style-type: none;
	padding-left: 0px;
	padding-right: 0px;
	list-style-image: none;
	padding-top: 0px;
}
ASIDE UL LI
{
	padding-bottom: 2px;
	padding-left: 20px;
	padding-right: 0px;
	background: url(../Images/bullet.png) no-repeat 0px 50%;
	padding-top: 2px;
}
.label
{
	font-weight: 700;
}
#loginForm
{
background-color:#dedcdc;
    border: 1px solid #CCCCCC;
    float: left;
    padding-left: 18px;
    padding-top: 15px;
    width: 55%;
}
#loginForm .validation-error
{
	display: block;
	margin-left: 15px;
}
#loginForm .validation-summary-errors UL
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
#loginForm .validation-summary-errors LI
{
	list-style-type: none;
	margin: 0px;
	display: inline;
	list-style-image: none;
}
#loginForm INPUT
{
	width: 250px;
}
#loginForm INPUT[type='checkbox']
{
	width: auto;
}
#loginForm INPUT[type='submit']
{
	width: auto;
}
#loginForm INPUT[type='button']
{
	width: auto;
}
#loginForm BUTTON
{
	width: auto;
}
#socialLoginForm
{
	width: 40%;
	float: left;
	margin-left: 40px;
}
#socialLoginForm H2
{
	margin-bottom: 5px;
}
#socialLoginList BUTTON
{
	margin-bottom: 12px;
}
#logoutForm
{
	display: inline;
}
.contact H3
{
	font-size: 1.2em;
}
.contact P
{
	margin: 5px 0px 0px 10px;
}
.contact IFRAME
{
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	margin: 5px 0px 0px 10px;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
}
FIELDSET
{
	border-bottom: medium none;
	border-left: medium none;
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	border-top: medium none;
	border-right: medium none;
	padding-top: 0px;
}
FIELDSET LEGEND
{
	display: none;
}
FIELDSET OL
{
	padding-bottom: 0px;
	list-style-type: none;
	padding-left: 0px;
	padding-right: 0px;
	list-style-image: none;
	padding-top: 0px;
}
FIELDSET OL LI
{
	padding-bottom: 5px;
}
LABEL
{
	display: block;
	font-size: 1.2em;
	font-weight: 600;
}
LABEL.checkbox
{
	display: inline;
}
INPUT
{
	border-bottom: 1px solid #E2E2E2;
	border-left: 1px solid #E2E2E2;
	padding-bottom: 5px;
	margin: 5px 0px 6px;
	padding-left: 5px;
	width: 300px;
	padding-right: 5px;
	background: #FFF;
	color: #0a79ac;
	font-size: 1.2em;
	border-top: 1px solid #E2E2E2;
	border-right: 1px solid #E2E2E2;
	padding-top: 5px;
}
INPUT[type='text'], INPUT[type='password']
{
	color: #0E0D0D;
}
TEXTAREA
{
	border-bottom: 1px solid #E2E2E2;
	border-left: 1px solid #E2E2E2;
	padding-bottom: 5px;
	margin: 5px 0px 6px;
	padding-left: 5px;
	width: 300px;
	padding-right: 5px;
	background: #FFF;
	color: #333;
	font-size: 1.2em;
	border-top: 1px solid #E2E2E2;
	border-right: 1px solid #E2E2E2;
	padding-top: 5px;
}
INPUT[type='radio']
{
	border-bottom: 1px solid #DEDCDC;
	border-left: 1px solid #DEDCDC;
	padding-bottom: 5px;
	margin: 5px 0px 6px;
	padding-left: 5px;
	width: 20px;
	padding-right: 5px;
	background-color:#DEDCDC;
	color: #333;
	font-size: 1.2em;
	border-top: 1px solid #DEDCDC;
	border-right: 1px solid #DEDCDC;
	padding-top: 5px;
 }
#serviceOfferingIdName
{
	margin-left: 17px;
}
INPUT[disabled]
{
	border-bottom: 1px solid #E2E2E2;
	border-left: 1px solid #E2E2E2;
	padding-bottom: 5px;
	margin: 5px 0px 6px;
	padding-left: 5px;
	width: 300px;
	padding-right: 5px;
	background: #FFF;
	color: #C8C8C8;
	font-size: 1.2em;
	border-top: 1px solid #E2E2E2;
	border-right: 1px solid #E2E2E2;
	padding-top: 5px;
}
TEXTAREA
{
	border-bottom: 1px solid #E2E2E2;
	border-left: 1px solid #E2E2E2;
	padding-bottom: 5px;
	margin: 5px 0px 6px;
	padding-left: 5px;
	width: 300px;
	padding-right: 5px;
	background: #FFF;
	color: #C8C8C8;
	font-size: 1.2em;
	border-top: 1px solid #E2E2E2;
	border-right: 1px solid #E2E2E2;
	padding-top: 5px;
}
TEXTAREA
{
	width: 500px;
	font-family: inherit;
}
INPUT:focus
{
	border-bottom: 1px solid #7AC0DA;
	border-left: 1px solid #7AC0DA;
	border-top: 1px solid #7AC0DA;
	border-right: 1px solid #7AC0DA;
}
TEXTAREA:focus
{
	border-bottom: 1px solid #7AC0DA;
	border-left: 1px solid #7AC0DA;
	border-top: 1px solid #7AC0DA;
	border-right: 1px solid #7AC0DA;
}
INPUT[type='checkbox']
{
	border-bottom: inherit;
	border-left: inherit;
	width: auto;
	background: transparent repeat 0% 0%;
	border-top: inherit;
	border-right: inherit;
}
INPUT[type='submit']
{
	padding-bottom: 7px;
	padding-left: 7px;
	background: none;
	width: auto;
	padding-right: 7px;
	font-size: 1.2em;
	cursor: pointer;
	font-weight: 600;
	margin-right: 8px;
	padding-top: 7px;
	border: 0;
}
INPUT[type='submit'].refresh
{
	background-color: #0080A1;
color:white;
}
INPUT[type='button']
{
	border-bottom: 1px solid #787878;
	border-left: 1px solid #787878;
	padding-bottom: 7px;
	background-color: #D3DCE0;
	padding-left: 7px;
	width: auto;
	padding-right: 7px;
	font-size: 1.2em;
	border-top: 1px solid #787878;
	cursor: pointer;
	font-weight: 600;
	margin-right: 8px;
	border-right: 1px solid #787878;
	padding-top: 7px;
}
BUTTON
{
	border-bottom: 1px solid #787878;
	border-left: 1px solid #787878;
	padding-bottom: 7px;
	background-color: #D3DCE0;
	padding-left: 7px;
	width: auto;
	padding-right: 7px;
	font-size: 1.2em;
	border-top: 1px solid #787878;
	cursor: pointer;
	font-weight: 600;
	margin-right: 8px;
	border-right: 1px solid #787878;
	padding-top: 7px;
}
TD INPUT[type='submit']
{
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 1em;
	margin-right: 4px;
	padding-top: 4px;
	text-decoration: underline;
}
INPUT
{
	color: #0a79ac;
}
TD INPUT[type='button']
{
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 1em;
	margin-right: 4px;
	padding-top: 4px;
}
TD BUTTON
{
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 1em;
	margin-right: 4px;
	padding-top: 4px;
}
.message-info
{
	border-bottom: 1px solid;
	border-left: 1px solid;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	clear: both;
	border-top: 1px solid;
	border-right: 1px solid;
	padding-top: 10px;
}
.message-error
{
	margin: 20px 0px 10px;
	color: #E80C4D;
	clear: both;
	font-size: 1.1em;
	font-weight: bold;
}
.message-success
{
	margin: 20px 0px 10px;
	color: #7AC0DA;
	font-size: 1.3em;
	font-weight: bold;
}
.error
{
	color: #E80C4D;
}
.field-validation-error
{
	color: #E80C4D;
	font-weight: bold;
}
.field-validation-valid
{
	display: none;
}
INPUT.input-validation-error
{
	border-bottom: 1px solid #E80C4D;
	border-left: 1px solid #E80C4D;
	border-top: 1px solid #E80C4D;
	border-right: 1px solid #E80C4D;
}
INPUT[type='checkbox'].input-validation-error
{
	border-bottom: 0px;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
}
.validation-summary-errors
{
	color: #E80C4D;
	font-size: 1.1em;
	font-weight: bold;
}
.validation-summary-valid
{
	display: none;
}
TABLE
{
	margin-top: 0.75em;
	border-spacing: 0;
	border-collapse: collapse;
	border: 1px solid grey;
}
TH
{
	text-align: left;
	padding-left: 15px;
	font-size: 1.2em;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: grey;
	border-right-color: grey;
	border-left-color: grey;
}
TH A
{
	position: relative;
	display: block;
}
TH A:link
{
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	color: #333;
	font-weight: 600;
	text-decoration: none;
	padding-top: 0px;
}
TH A:visited
{
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	color: #333;
	font-weight: 600;
	text-decoration: none;
	padding-top: 0px;
}
TH A:active
{
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	color: #333;
	font-weight: 600;
	text-decoration: none;
	padding-top: 0px;
}
TH A:hover
{
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	color: #333;
	font-weight: 600;
	text-decoration: none;
	padding-top: 0px;
}
TH A:hover
{
	color: #000;
}
TH.asc A
{
	margin-right: 0.75em;
}
TH.desc A
{
	margin-right: 0.75em;
}
TH.asc A:after
{
	position: absolute;
	display: block;
	font-size: 0.75em;
	top: 0px;
	right: 0em;
}
TH.desc A:after
{
	position: absolute;
	display: block;
	font-size: 0.75em;
	top: 0px;
	right: 0em;
}
TH.asc A:after
{
	content: '?';
}
TH.desc A:after
{
	content: '?';
}
TD
{
	padding-bottom: 0.2em;
	padding-left: 0.7em;
	padding-right: 2em;
	padding-top: 0.3em;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: grey;
	border-right-color: grey;
	border-left-color: grey;
}
TR.pager TD
{
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0.25em;
	padding-top: 0px;
}
